body {
    background: none transparent;
    background: #f9f4f4;
}

@media (max-width:600px) {
    .main {
        display: none;
    }

    .alt {
        margin: 30px;
        display: block !important;
        width: 50vw;
    }
}

.red {
    color: red;
}

.map {
    float: left;
    touch-action: none;
    background-color: white;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.meta {
    margin-left: 20px;
}

.button {
    text-align: center;
    margin-left: 100px !important;
    width: 250px !important;
}

.main {
    margin-left: 40px;
    position: relative;
    margin-top: 20px;
    transform: scale(0.7);
    transform-origin: top left;
}

#info {
    position: absolute;
    background-color: white;
    margin-left: 20px;
    float: left;
    width: 450px;
    height: 180px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

#choices {
    height: 110px;
    width: 450px;
    margin-top: 40px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#choices a {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px !important;
}

#hex {
    float: left;
    line-height: 100px;
    font-size: 100px;
    color: lightgrey;
}

#context {
    margin-top: 38px;
}

#chart {
    margin-top: 40px;
    margin-left: 20px;
    background: lightgrey;
    width: 410px;
    height: 30px;
}

#chart div {
    height: 30px;
    float: left;
}